# Ignorar node_modules na raiz
node_modules/

# Ignorar node_modules dentro de frontend (apesar de já ter um lá)
frontend/node_modules/

# Ignorar pastas de build e distribuição
build/
dist/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambiente
.env
